.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: purple;
}

.App li {
  display: block;
}

.App a {
  color: #d443b7;
  text-decoration: none;
  cursor: pointer;
}

.progress {
  padding: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 40px;
  width: 500px;
}

.progress-value {
  animation: load 5s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background-color: rgb(220 154 254);
  background-image: linear-gradient(315deg, rgb(220 154 254) 0%, #7ee8fa 74%);
  height: 30px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
